p {
    font-family: 'Open Sans', sans-serif;
}

.downloads {
    padding-top: 3%;
}

.list-group-item {
    display: list-item;
}

/* Treemap CSS -------------------------------------------------------------------------------------------------------*/

#treemap {
    background: #fff;
    cursor: pointer;
}

.title {
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    margin: 0;
    background: #4cae4c;
}

#treemap text {
    pointer-events: none;
}

.navBar text {
    font-weight: bold;
}

rect {
    fill: none;
    stroke: darkgrey;
}

rect.parent,
.navBar rect {
    stroke-width: 1px;
}

rect.parent {
    pointer-events: none;
}

.navBar rect {
    fill: orange;
}

.navBar:hover rect {
    fill: #ee9700;
}

.children rect.parent,
.navBar rect {
    cursor: pointer;
}

.children rect.parent {
    fill: #bbb;
    fill-opacity: .5;
}

.children:hover rect.child {
    fill: #bbb;
}
