
/*.error-page {*/
    /*font-family: 'Roboto', sans-serif;*/
    /*width: 100%;*/
    /*position: inherit;*/
    /*left: 0;*/
/*}*/

/*@media only screen and (min-width: 768px) {*/
    /*.error-page {*/
        /*width: 50%;*/
        /*position: absolute;*/
        /*left: 25%;*/
    /*}*/
/*}*/

p {
    font-family: 'Open Sans', sans-serif;
}

.larger-font {
    font-size: 1.5em;
}

.downloads {
    padding-top: 3%;
}

.list-group-item {
    display: list-item;
}

#chart {
    background: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: hand;
}

.title {
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    margin-top: 6px;
    background: green;
}
text {
    pointer-events: none;
}

.grandparent text {
    font-weight: bold;
}

rect {
    fill: none;
    stroke: #fff;
}

rect.parent,
.grandparent rect {
    stroke-width: 2px;
}

rect.parent {
    pointer-events: none;
}

.grandparent rect {
    fill: orange;
}

.grandparent:hover rect {
    fill: #ee9700;
}

.children rect.parent,
.grandparent rect {
    cursor: pointer;
}

.children rect.parent {
    fill: #bbb;
    fill-opacity: .5;
}

.children:hover rect.child {
    fill: #bbb;
}
